/*--------------------------------------------------
 portfolio thumbnails have colored overlay with text
 --------------------------------------------------*/

$overlay-bg: $transparent-blue;
$overlay-border-color: $transparent-periwinkle;
$overlay-text-color: $dark-brown;

$overlay-border: 1.2rem solid $overlay-border-color;

$overlay-transition: opacity .2s ease;

.sizing-box{

    position: relative;
    height: 0;
    /*border: .1rem solid goldenrod;*/

&.portfolio{

    padding-bottom: 100%;

}
}

.thumbnail-wrap {

  .meta-overlay{

      z-index: 1!important;
      color: $overlay-text-color;
      position:absolute;
      top:0;
      left:0;

      height:100%;
      width: 100%;

      border:$overlay-border;

      padding: 1.5rem; /*12px 15px 0 15px;*/
      box-sizing: border-box;

      opacity: 0;
      -webkit-transition:$overlay-transition;
      transition:$overlay-transition;
      background:$overlay-bg;

  }

  iframe{

      -ms-zoom: 0.25;
      -moz-transform: scale(0.25);
      -moz-transform-origin: 0 0;
      -o-transform: scale(0.25);
      -o-transform-origin: 0 0;
      -webkit-transform: scale(0.25);
      -webkit-transform-origin: 0 0;
  /*    position: absolute;
      top:0;
      left:0;*/
      visibility:visible;
      opacity:1;
      border: none;
      box-shadow: none;
      width: 400%;
      height: 400%;
      overflow: hidden;

  }

  &:hover {

    .meta-overlay{

      opacity:1

    }

    iframe{

      opacity:0.1;

    }
  }
}

.iframe-wrap {

  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  height: 100%;
  /*border: .2rem dashed lime;*/

}
