$cool-light-grey: #8ab;

$cool-medium-grey: #79a;

$warm-dark-grey: #4a4a3e;

$almost-white: #ffe;

$pale-yellow: #ddb;

$transparent-blue: rgba(50,50,255,0.1);

$transparent-periwinkle: rgba(200,220,255,.7);

//$pale-blue: #cef;

$dark-blue: #135;

$dark-brown: #334;

$darker-brown: #333328;
