@import 'colors';
@import 'sectionstyles';
@import 'overlayiframes';

html {
  min-height: 100%;

  body {
    min-height: inherit;
    background: $almost-white;
//    height: 100%;
//    overflow: scroll;

    div.bigbox {
//      min-height: inherit;
//      height: 100%;
//      min-width: 100%;
      background: url(../img/binderPaperbg.jpg) no-repeat center center;
      background-size: contain;
//      background-origin: content-box;
    }
}
}
