html {
  --purple: #93e;
  --green: lightSeaGreen;
  --yellow: #e5bb14;
}

body {
  margin: 0;
  box-sizing: content-box;
  height: 100%;
  font-family: Courier, serif;
  text-align: left;
}

/* universal stuff */
.x {
  background-image:
    linear-gradient(
      to top right, transparent calc(50% - 1px), #999 calc(50% - 1px),
      #999 calc(50% + 1px), transparent calc(50% + 1px)
      ),
    linear-gradient(
      to bottom right, transparent calc(50% - 1px), #999 calc(50% - 1px),
      #999 calc(50% + 1px), transparent calc(50% + 1px)
      );
}

.everything {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.border {
  box-shadow: 0 0 0 2px var(--green);
  outline: 1px solid var(--yellow);
  border: 1px solid var(--purple);
  border-radius: 1px;
  margin-bottom: 2rem;
}

.backdrop {
  border-radius: 1px;
  padding: .75rem;
  background-color: #eee;
}

.panel-heading {
  margin-top: 0;
}

/* shared attributes */

.sidebar-left, .main-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.sidebar-left>*, .main-content>* {
  padding: 1.25rem;
}

/* sidebar stuff */
.sidebar-left {
  flex: 0 1 auto;
  width: fit-content;
}

  .contact-info {
    font-size: .9rem;
    font-style: normal;
  }

  .projects-list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
  }

  .projects-li {
    margin: 0 0 1.25rem 0;
    box-sizing: border-box;
    width: fit-content;
    text-align: inherit;
    list-style-type: inherit;
  }

  .projects-li:last-child {
    margin-bottom: 0;
  }

  .project-btn {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    transition: background-color .05s linear;
  }

  .project-btn:hover {
    background-color: #dededf;
    transition: background-color .03s linear;
  }

  .project-btn:hover>.project-thumb {
    background-color: #c9c9ca;
    transition: background-color .03s linear;
  }

  .project-thumb {
    margin-top: .2rem;
    width: 12rem;
    height: 9rem;
    background-color: #ddd;
    transition: background-color .05s linear;
  }

/* main-area content */
.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  margin-right: 2rem;
  width: fit-content;
}

  .about {
    width: fit-content;
    line-height: 2rem;
  }

  .project-display {
    width: unset;
    min-height: 42rem;
    transition: width .4s linear, min-height .15s linear .25s;
  }

  .project-display.empty-display {
    width: 2.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    transition: width .4s linear, min-height .3s linear .25s;
  }
